* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: poppins;
}

/* var Colors */
:root {
    --Main-BG: #18294f;
    --Main-Container-BG: #f4f4f4;
    --Main-Button-BG: #223371;
    --Main-Button-Hover: #2c4274;

    --Main-Text: #fff;
    --Main-Text-Dark: #262626;
    --Title: #d6eaec;
}

body {
    background: var(--Main-BG);
    overflow-x: hidden;
}

.main-container {
    margin: 20px 1%;
    border-radius: 20px;
    background: url(../../Assets/Images/RPS-BG.png);
    height: 200px;
    width: 98%;
    height: auto;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    transition: background-color ease-in-out 0.125s;
}

.title {
    width: 100%;
    display: flex;
    justify-content: center;

    font-size: 35px; 
    text-shadow: white 0px 0px 1.5px;
    color: var(--Main-Text);


}

img {
    margin: 100px;
    height: 90%;
    border-radius: 50px;
}

/* Button to start the game */
#start, .button {
    margin: 250px 0 250px;
    padding: 10px 15% 10px 15%;
    background: var(--Main-Button-BG);
    color: var(--Main-Text);
    font-size: 2.9rem;
    font-weight: 400;
    border: none;
    border-radius: 50px;
}

#start:hover {
    cursor: pointer;
    background: var(--Main-Button-Hover);
}

/* Container to hide buttons before game start */
#inputs-stats-container {
    display: none;
}

/* Container to hide image before game start */
#image-container {
    display: none;
}

/* Image on page load */

.hand {
    align-items: center;

    margin: 20px 30 20px 30px;
    height: 300px;

    transition: ease-in-out 0.2s;
}

.hand:hover {
    cursor: pointer;
    transform: scale(1.2);
}


/* Container for the score and computer choice */
.score-reset-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;

    margin: 40px 25px;
}

.computerChoice {
    font-size: 40px;
    font-weight: 700;
    margin: 5px 0 5px;
}

.score {
    font-size: 25px;
    font-weight: 600;
    color: var(--Main-Text-Dark);
}

/* Responsive Styling */
@media (max-width: 860px) {
    .button {
        width: 100%;
    }
    .score-reset-container {
        margin-bottom: 0px;
        height: auto;
    }
    


    #inputs-stats-container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
}