* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: poppins;
}

/* var Colors */
:root {
    --Main-BG: #18294f;
    --Main-Container-BG: #f4f4f4;
    --Container-BG-Dark: #252b38;
    --Main-Button-BG: #223371;
    --Main-Button-Hover: #2c4274;

    --Main-Text: #fff;
    --Main-Text-Dark: #262626;
    --Title: #d6eaec;
}

/* Keyframes */

@keyframes bounce {
    0%   { transform: scale(1,1); }
    30%  { transform: scale(1.25, 0.75); }
    50%  { transform: scale(0.75, 1.25); }
    70%  { transform: scale(1.15, 0.85); }
    100% { transform: scale(1,1); }
}


/* General Styling */

body {
    background: var(--Main-BG);
    overflow-x: hidden;
}

img {
    margin: 100px;
    height: 90%;
    border-radius: 50px;
}

p {
    font-size: 4.5rem;
    font-weight: 600;
    color: var(--Main-Text-Dark);
}


/* Main Container Styling */
.main-container {
    margin: 20px 1%;
    border-radius: 20px;
    background: url(../../Assets/Images/RPS-BG.png);
    height: 200px;
    width: 98%;
    height: auto;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    transition: background-color ease-in-out 0.125s;
}

/* Title Styling */
.title {
    width: 100%;
    display: flex;
    justify-content: center;

    font-size: 35px; 
    text-shadow: white 0px 0px 1.5px;
    color: var(--Main-Text);


}

.crown {
    display: none;

    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 100px;
    animation: bounce 1.5s infinite;
}

/* Button to start the game */
#start, .button {
    padding: 10px 15% 10px 15%;
    background: var(--Main-Button-BG);
    color: var(--Main-Text);
    font-size: 1.9rem;
    font-weight: 400;
    border: none;
    border-radius: 50px;
}

.button {
    margin-bottom: 10px;
}

#start {
    margin: 250px 0 250px;
    font-size: 2.9rem;

}

#start:hover, .reset:hover, .resetHighscore:hover {
    cursor: pointer;
    background: var(--Main-Button-Hover);
}

/* Container to hide buttons before game start */
#inputs-stats-container {
    display: none;
}

/* Container to hide image before game start */
#image-container {
    display: none;
}

.hand {
    align-items: center;

    margin: 150px 50px 300px 30px;
    height: 280px;
    border-radius: 50px;
    transition: ease-in-out 0.2s;
}

.hand:hover {
    cursor: pointer;
    transform: scale(1.2);
}


/* Container for the score and computer choice */
.score-reset-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;

    width: 400px;
    color: var(--Main-Text);
    background-color: var(--Container-BG-Dark);
    margin: 40px 25px;
    padding: 20px;
    border-radius: 15px;
}

.computerChoice, .playerStats, .highscore {
    color: var(--Main-Text) !important;
    font-size: 40px !important;
    font-weight: 700;
    margin: 5px 0 5px;
}

#computerChoiceImage {
    background: var(--Main-Container-BG);
    color: var(--Main-Container-BG);

    min-width: 100px;
    height: 100px;
    padding: 15px;
    margin: 5px 0 5px;
}

.score {
    font-size: 25px;
    font-weight: 600;
    color: var(--Main-Text);
}

.highscore {
    margin: 30px 0;
}

/* Responsive Styling */
@media (max-width: 860px) {
    .button {
        width: 100%;
    }
    .score-reset-container {
        margin-bottom: 0px;
        height: auto;
    }
    


    #inputs-stats-container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
}